<section class="section mb-3" id="about">
  <h2 class="section-heading text-center mb-5 mt-4 black-text wow fadeIn" data-wow-delay="0.2s">About Me</h2>

  <div class="row wow FadeIn" data-wow-delay="0.4s">
    <div class="col-md-6 pb-5">
      <img src="../media/IMG_4674.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 pb-5 text-center black-text">
      <p class="lead mb-4"> My name is Jordanna Daly,<br>I'm a photographer.</p>
      <p>I am a fun and creative person at heart and I strive to bring those elements to all photography sessions.
        I am born and raised on Vancouver Island and I love going on adventures to find new photography locations.</p>
      <p>I became a photographer to capture real and authentic moments that last forever.
        My goal in every session is to make you feel comfortable and create lasting memories.</p>
    </div>
  </div>
</section>
