<footer class="page-footer text-center text-md-left elegant-color-dark mt-5">
  <!--social media -->
  <div class="container mb-2">
    <div class="row">
      <div class="col-md-12 my-4 fadeIn wow" data-wow-delay="0.3s">
        <div class="footer-sociams flex-center">
          <!-- Email -->
          <a href="mailto: westcoastlensphotography@gmail.com" target="_blank" type="button"
            class="btn-floating btn-grey"><i class="fa fa-envelope"></i></a>
          <!--Facebook-->
          <a href="https://www.facebook.com/westcoastlensphotography/" target="_blank" type="button"
            class="btn-floating btn-blue"><i class="fab fa-facebook"></i></a>
          <!--Instagram-->
          <a href="https://www.instagram.com/westcoastlensphotography/" target="_blank" type="button"
            class="btn-floating btn-purple"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!--copywright-->
  <div class="footer-copyright py-3 text-center">
    <div class="container-fluid">
      2022 Copyright <a href="#">West Coast Lens Photography</a>
    </div>
  </div>
</footer>