<header>
  <div id="header" class="view jarallax" data-jarallax='{"speed":0.2}'
    style="background-image: url('../media/IMG_0748.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    min-height:500px;">
    <div class="mask rgba-black-strong">
      <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row smooth-scroll">
          <div class="col-md-12">
            <div class="white-text text-center">
              <h2 class="display-3 font-weight-bold pb-4 mb-2 wow fadeIn" style="font-family: Georgia, 'Times New Roman', Times, serif">Packages</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
