{% load static %}

<!DOCTYPE html>
<html lang="en">

  {% include "head.html" %}
  {% include "navbar.html" %}
  {% include "header_cover.html" %}

<body>

  <!-- Start your project here-->
  <main>
    <!-- /Start your project here-->
    <div class="container" id="about">
      {% include "about.html" %}
      <hr class="between-sections">
      {% include "contact.html" %}
    </div>


  </main>
  {% include "footer_quote.html" %}

  <div class="dotted-scrollspy clearfix d-none d-sm-block">
    <ul class="nav smooth-scroll flex-column">
      <li class="nav-item"><a class="nav-link" href="#mywork"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#about"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#contact"><span></span></a></li>
    </ul>
  </div>

  {% include "scripts.html" %}
</body>
<script>
  window.onscroll = function () { myFunction() };

  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;

  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }

</script>

</html>